.navbar-dark {
    background: rgb(125,136,228);
    background: -moz-linear-gradient(208deg, rgba(125,136,228,1) 0%, rgba(11,153,166,1) 100%);
    background: -webkit-linear-gradient(208deg, rgba(125,136,228,1) 0%, rgba(11,153,166,1) 100%);
    background: linear-gradient(208deg, rgba(125,136,228,1) 0%, rgba(11,153,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d88e4",endColorstr="#0b99a6",GradientType=1);
}
a {
    color:rgb(20, 153, 230) !important;
}
.navbar-brand {
    color: white !important;
}
.search {
    background: rgb(242, 242, 242) !important;
    padding: .5rem !important;
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
    border: none;
}
.fa-search {
    font-size: 1.1rem;
    color: rgb(170, 181, 190);
    position: absolute;
}
.logo {
    width: 3rem;
}
nav, input {
    font-family: 'Rubik', sans-serif;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
